 <%-include('include/_main_header.ejs') %> 

 <div class="aa"><a href="/all_user">All User</a></div>
<div class="form_p"><p>Update Your Data</p></div>

<form  method="POST" id="update_user" class="form forms">
        <table>
            <input type="hidden" name="id" value="<%= user._id %>">
            <tr><td>Full Name :</td><td><input type="text" name="name" value="<%= user.name %>"></td></tr>
            <tr><td>Occupation :</td><td><input type="text" name="job" value="<%= user.job %>"></td></tr>
    
            <tr><td>State :</td>
                <td>
                    <select name="state" id="state">
                        <option value="<%= user.state %>"><%= user.state %></option>
                        <option value="ABIA">ABIA</option>
                         <option value="ADAMAWA">ADAMAWA</option>
                        <option value="AKWA IBOM">AKWA IBOM</option>
                        <option value="ANAMBRA">ANAMBRA</option>
                        <option value="BAUCHI">BAUCHI</option>
                        <option value="BAYELSA">BAYELSA</option>
                        <option value="BENUE">BENUE</option>
                        <option value="BORNO">BORNO</option>
                        <option value="CROSS RIVER">CROSS RIVERS</option>
                        <option value="DELTA">DELTA</option>
                        <option value="EBONYI">EBONYI</option>
                        <option value="EDO">EDO</option>
                        <option value="EKITI">EKITI</option>
                        <option value="ENUGU">ENUGU</option>
                        <option value="GOMBE">GOMBE</option>
                        <option value="IMO">IMO</option>
                        <option value="JIGAWA">JIGAWA</option>
                        <option value="KADUNA">KADUNA</option>
                        <option value="KANO">KANO</option>
                        <option value="KASTINA">KASTINA</option>
                        <option value="KEBBI">KEBBI</option>
                        <option value="KOGI">KOGI</option>
                        <option value="KWARA">KWARA</option>
                        <option value="LAGOS">LAGOS</option>
                        <option value="NIGER">NIGER</option>
                        <option value="OGUN">OGUN</option>
                        <option value="ONDO">ONDO</option>
                        <option value="OSUN">OSUN</option>
                        <option value="OYO">OYO</option>
                        <option value="PLATEAU">PLATEAU</option>
                        <option value="RIVERS">RIVERS</option>
                        <option value="SOKOTO">SOKOTO</option>
                        <option value="TARABA">TARABA</option>
                        <option value="YOBE">YOBE</option>
                        <option value="ZAMFARA">ZAMFARA</option>
                        <option value="FCT">FCT</option>
                    </select>
                </td>
            </tr>
            
            <tr><td>Email:</td><td><input type="text" name="email" value="<%= user.email %>"></td></tr>
            <tr><td>Twitter Username :</td><td><input type="text" name="username" value="<%= user.username %>"></td></tr>
            <tr><td>Phone NO:</td><td><input type="number" name="number" value="<%= user.number %>"></td></tr>
    
            <tr><td colspan="2"><input type="submit" value="Submit"></td></tr>
        </table>
    </form>






<%-include('include/_footer.ejs') %> 